<ion-fab
  *ngIf="remaining > 0"
  vertical="top"
  horizontal="end"
  slot="fixed"
  class="ion-margin-end"
>
  <ion-fab-button class="fab-position" (click)="submitPurchaseReceipt()">
    <ion-icon name="lock-closed-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
<ion-card *ngIf="remaining > 0">
  <ion-card-content>
    <ion-grid class="ion-no-padding">
      <ion-row class="align">
        <ion-col class="ion-text-left">
          <input
            #csvFileInput
            type="file"
            id="txtFileUpload"
            (change)="fileChangedEvent($event)"
            accept=".csv"
          />
        </ion-col>
        <ion-col>
          <mat-form-field class="example-full-width transform">
            <input
              matInput
              [matDatepicker]="purchaseReceiptDate"
              [formControl]="date"
              placeholder="Date"
              readonly
              (dateChange)="selectedPurchaseReceiptDate($event)"
            />
            <mat-datepicker-toggle
              matSuffix
              [for]="purchaseReceiptDate"
            ></mat-datepicker-toggle>
            <mat-datepicker
              #purchaseReceiptDate
              disabled="false"
            ></mat-datepicker>
            <mat-error *ngIf="date.hasError('required')">
              Date is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col size-md="6">
          <mat-form-field class="example-full-width">
            <input
              [formControl]="warehouseFormControl"
              type="text"
              placeholder="Select Warehouse"
              matInput
              [matAutocomplete]="auto"
              required
            />
            <mat-autocomplete
              autoActiveFirstOption
              #auto="matAutocomplete"
              [displayWith]="getOptionText"
            >
              <mat-option
                *ngFor="let option of filteredWarehouseList | async"
                [value]="option.name"
              >
                {{ option.name }}
              </mat-option>
            </mat-autocomplete>
            <mat-error *ngIf="warehouseFormControl.hasError('required')">
              Warehouse is <strong>required</strong>
            </mat-error>
          </mat-form-field>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<ion-card *ngIf="remaining > 0">
  <ion-card-header>
    <ion-card-title>
      <ion-text color="tertiary">
        Serial Range
      </ion-text>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content>
    <ion-grid class="ion-no-padding">
      <ion-row>
        <ion-col>
          <mat-form-field class="example-full-width">
            <input
              matInput
              oninput="this.value = this.value.toUpperCase()"
              placeholder="From Range"
              type="text"
              name="From Range"
              [(ngModel)]="rangePickerState.fromRange"
              (ngModelChange)="this.fromRangeUpdate.next($event)"
              required
            />
          </mat-form-field>
          <mat-form-field class="example-full-width">
            <input
              type="text"
              oninput="this.value = this.value.toUpperCase()"
              matInput
              placeholder="To Range"
              type="string"
              name="To Range"
              [(ngModel)]="rangePickerState.toRange"
              (ngModelChange)="this.toRangeUpdate.next($event)"
            />
          </mat-form-field>
        </ion-col>
        <ion-col>
          <ion-text color="primary">
            <h3>Total : {{ rangePickerState.serials.length }}</h3>
          </ion-text>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card-content>
</ion-card>

<ion-card *ngIf="remaining > 0">
  <ion-card-header>
    <ion-card-title>
      <ion-text color="tertiary">
        Products
      </ion-text>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-no-padding">
    <mat-table #table [dataSource]="itemDataSource" style="width: 100%;">
      <ng-container matColumnDef="purchaseWarrantyMonths">
        <mat-header-cell *matHeaderCellDef>Warranty In Months</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <ng-container>
            {{ row.purchaseWarrantyMonths }}
          </ng-container>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="item_name">
        <mat-header-cell *matHeaderCellDef>Item Name</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <ng-container>
            {{ row.item_name }}
          </ng-container>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="qty">
        <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <ng-container>
            {{ row.qty }}
          </ng-container>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="assigned">
        <mat-header-cell *matHeaderCellDef>Assigned</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <ng-container>
            {{ row.assigned || 0 }}
          </ng-container>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="remaining">
        <mat-header-cell *matHeaderCellDef>Remaining</mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.remaining || 0 }}
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="has_serial_no">
        <mat-header-cell *matHeaderCellDef>Has Serial</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <mat-checkbox
            class="example-margin"
            [(ngModel)]="row.has_serial_no"
            [disabled]="true"
          >
          </mat-checkbox>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="add_serial">
        <mat-header-cell *matHeaderCellDef>Add Serials</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <ion-button
            [disabled]="row.remaining === 0"
            fill="outline"
            (click)="assignSerial(row)"
          >
            <ion-icon name="Add"></ion-icon>
          </ion-button>
        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="itemDisplayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row *matRowDef="let row; columns: itemDisplayedColumns"></mat-row>
    </mat-table>
  </ion-card-content>
</ion-card>

<ion-card *ngIf="remaining > 0">
  <ion-card-header>
    <ion-card-title>
      <ion-text color="tertiary">
        Serials
      </ion-text>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-no-padding">
    <mat-table #table [dataSource]="serialDataSource" style="width: 100%;">
      <ng-container matColumnDef="item_code">
        <mat-header-cell *matHeaderCellDef>Item Code</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <ng-container>
            {{ row.item_code }}
          </ng-container>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="item_name">
        <mat-header-cell *matHeaderCellDef>Item Name</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <ng-container>
            {{ row.item_name }}
          </ng-container>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="qty">
        <mat-header-cell *matHeaderCellDef>Quantity</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <ng-container>
            {{ row.qty }}
          </ng-container>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="warranty_date">
        <mat-header-cell *matHeaderCellDef>Warranty Date</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <input
            matInput
            [(ngModel)]="row.warranty_date"
            [matDatepicker]="warranty_date"
            disabled
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="warranty_date"
          ></mat-datepicker-toggle>
          <mat-datepicker #warranty_date disabled="false"></mat-datepicker>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="serial_no">
        <mat-header-cell *matHeaderCellDef>Serials</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <input
            matInput
            oninput="this.value = this.value.toUpperCase()"
            *ngIf="!row.serial_no[1]"
            [disabled]="row.serial_no[0] === 'Non Serial Item' ? true : false"
            [(ngModel)]="row.serial_no[0]"
          />
          <p *ngIf="row.serial_no.length === 1 ? false : true">
            {{ getSerialsInputValue(row) }}
          </p>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="delete">
        <mat-header-cell *matHeaderCellDef>Delete Serials</mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index">
          <ion-button color="danger" fill="clear" (click)="deleteRow(row, i)">
            <ion-icon name="trash"></ion-icon>
          </ion-button>
        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="serialDisplayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row
        *matRowDef="let row; columns: serialDisplayedColumns; let i = index"
      ></mat-row>
    </mat-table>
  </ion-card-content>
</ion-card>

<ion-grid
  class="ion-no-padding"
  *ngIf="purchaseInvoiceDetails && remaining === 0"
>
  <ion-row>
    <ion-col class="ion-text-center">
      <ion-text style="color: black;">
        <h1>All serial already assigned</h1>
      </ion-text>
    </ion-col>
  </ion-row>
</ion-grid>

<ion-card *ngIf="purchaseInvoiceDetails && displayDeliveredSerialsTable">
  <ion-card-header style="padding-bottom: 0;">
    <ion-card-title>
      <ion-text color="tertiary">
        Delivered Serials
      </ion-text>
    </ion-card-title>
  </ion-card-header>
  <ion-card-content class="ion-no-padding">
    <div class="search-models ion-padding">
      <mat-form-field class="mat-input-wrapper">
        <input
          matInput
          placeholder="Search"
          [(ngModel)]="deliveredSerialsSearch"
          (keyup.enter)="setFilter()"
        />
        <button mat-button matSuffix (click)="setFilter()">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <mat-table
      #table
      [dataSource]="purchasedSerialsDataSource"
      style="width: 100%;max-height: 58vh;overflow: auto;"
    >
      <ng-container matColumnDef="sr_no">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let row; let i = index">
          {{ i + 1 }}
        </mat-cell>
      </ng-container>
      <!-- Serial No -->
      <ng-container matColumnDef="serial_no">
        <mat-header-cell *matHeaderCellDef>Serial No</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <ng-container>
            {{ row.serial_no }}
          </ng-container>
        </mat-cell>
      </ng-container>

      <!-- item_code -->
      <ng-container matColumnDef="item_name">
        <mat-header-cell *matHeaderCellDef>Item Name</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <ng-container>
            {{ itemMap[row.item_code]?.item_name }}
          </ng-container>
        </mat-cell>
      </ng-container>

      <ng-container matColumnDef="purchase_warranty_period">
        <mat-header-cell *matHeaderCellDef
          >Purchase Warranty Period [Months]</mat-header-cell
        >
        <mat-cell *matCellDef="let row">
          <ng-container>
            {{ itemMap[row.item_code]?.purchaseWarrantyMonths }}
          </ng-container>
        </mat-cell>
      </ng-container>

      <!-- purchase_date -->
      <ng-container matColumnDef="purchase_warranty_expiry">
        <mat-header-cell *matHeaderCellDef
          >Purchase Warranty Expiry</mat-header-cell
        >
        <mat-cell *matCellDef="let row">
          <ng-container>
            {{ row.warranty?.purchaseWarrantyDate | date: 'dd-MM-yyyy' }}
          </ng-container>
        </mat-cell>
      </ng-container>

      <!-- warehouse -->
      <ng-container matColumnDef="warehouse">
        <mat-header-cell *matHeaderCellDef>Warehouse</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <ng-container>
            {{ row.warehouse }}
          </ng-container>
        </mat-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="deliveredSerialsDisplayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row
        *matRowDef="
          let row;
          columns: deliveredSerialsDisplayedColumns;
          let i = index
        "
      ></mat-row>
    </mat-table>
    <mat-card-actions>
      <mat-paginator
        #paginator
        class="mat-paginator-sticky"
        (page)="getUpdate($event)"
        [length]="purchasedSerialsDataSource.length"
        [pageSizeOptions]="[10, 50, 100, 500]"
      >
      </mat-paginator>
    </mat-card-actions>
  </ion-card-content>
</ion-card>
