<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Warranty</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <ion-card>
    <ion-card-header style="padding-bottom: 0;">
      <ion-row class="align">
        <ion-col>
          <ion-card-title>
            <ion-text color="tertiary">
              Warranty Claims
            </ion-text>
          </ion-card-title>
        </ion-col>
        <ion-col class="ion-text-right">
          <ion-button
            color="tertiary"
            [routerLink]="['/warranty/add-warranty-claim', 'add']"
          >
            Add
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card-header>
    <div class="loading-shade" *ngIf="dataSource.loading$ | async">
      <mat-progress-bar
        *ngIf="dataSource.loading$ | async"
        mode="indeterminate"
      ></mat-progress-bar>
    </div>
    <ion-card-content class="ion-no-padding">
      <ion-grid>
        <ion-row>
          <ion-col>
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Customer"
                [(ngModel)]="customer"
                (keyup.enter)="setFilter()"
              />
            </mat-form-field>
          </ion-col>
          <ion-col>
            <mat-form-field class="full-width">
              <input
                matInput
                [(ngModel)]="claim_no"
                placeholder="Claim No"
                (keyup.enter)="setFilter()"
              />
            </mat-form-field>
          </ion-col>
          <ion-col>
            <mat-form-field class="full-width">
              <input
                matInput
                [(ngModel)]="customer_third_party"
                placeholder="Third Party"
                (keyup.enter)="setFilter()"
              />
            </mat-form-field>
          </ion-col>
          <ion-col>
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Product"
                [(ngModel)]="product"
                (keyup.enter)="setFilter()"
              />
            </mat-form-field>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <mat-form-field class="full-width">
              <mat-label>Claim Status</mat-label>
              <mat-select
                [(value)]="claim_status"
                (selectionChange)="statusChange($event.value)"
              >
                <mat-option
                  *ngFor="let status of claimStatusList"
                  [value]="status"
                >
                  {{status}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </ion-col>
          <ion-col>
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Claim Type"
                [(ngModel)]="claim_type"
                (keyup.enter)="setFilter()"
              />
            </mat-form-field>
          </ion-col>
          <ion-col>
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Branch"
                [(ngModel)]="territory"
                (keyup.enter)="setFilter()"
              />
            </mat-form-field>
          </ion-col>
          <ion-col>
            <mat-form-field class="full-width">
              <input
                matInput
                placeholder="Serial Number"
                [(ngModel)]="claimed_serial"
                (keyup.enter)="setFilter()"
              />
            </mat-form-field>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-text color="medium" class="date-filter-text">
              Range Date
            </ion-text>
            <mat-form-field class="full-width">
              <input
                matInput
                [matDatepicker]="fromDate"
                placeholder="From Date"
                readonly
                [formControl]="fromDateFormControl"
                (dateChange)="dateFilter()"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="fromDate"
              ></mat-datepicker-toggle>
              <mat-datepicker #fromDate disabled="false"></mat-datepicker>
            </mat-form-field>
            <mat-form-field class="full-width">
              <input
                matInput
                [matDatepicker]="toDate"
                placeholder="To Date"
                readonly
                [formControl]="toDateFormControl"
                (dateChange)="dateFilter()"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="toDate"
              ></mat-datepicker-toggle>
              <mat-datepicker #toDate disabled="false"></mat-datepicker>
            </mat-form-field>
          </ion-col>
          <ion-col class="ion-text-center">
            <ion-text color="medium" class="date-filter-text">
              Single Date
            </ion-text>
            <mat-form-field class="full-width">
              <input
                matInput
                [matDatepicker]="singleDate"
                placeholder="Select Date"
                readonly
                [formControl]="singleDateFormControl"
                (dateChange)="singleDateFilter()"
              />
              <mat-datepicker-toggle
                matSuffix
                [for]="singleDate"
              ></mat-datepicker-toggle>
              <mat-datepicker #singleDate disabled="false"></mat-datepicker>
            </mat-form-field>
            <ion-button
              color="tertiary"
              (click)="clearFilters()"
              fill="outline"
            >
              Clear
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>

      <table
        mat-table
        class="full-width-table"
        matSort
        aria-label="Elements"
        style="width: 100%;"
        [dataSource]="dataSource"
        (matSortChange)="setFilter($event)"
      >
        <ng-container matColumnDef="sr_no">
          <mat-header-cell *matHeaderCellDef> </mat-header-cell>
          <mat-cell *matCellDef="let row;let i=index ">
            {{i+1}}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="claim_no">
          <mat-header-cell *matHeaderCellDef mat-sort-header="claim_no">
            Claim no
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row.claim_no}}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="claim_type">
          <mat-header-cell *matHeaderCellDef mat-sort-header="claim_type">
            Claim Type
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row.claim_type}}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="received_date">
          <mat-header-cell *matHeaderCellDef mat-sort-header="received_date">
            Received Date
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row.received_date }}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="deliver_date">
          <mat-header-cell *matHeaderCellDef>
            Deliver Date
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row.deliver_date }}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="customer_third_party">
          <mat-header-cell *matHeaderCellDef>
            Customer Third Party
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row.customer_third_party}}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="item_code">
          <mat-header-cell *matHeaderCellDef>
            Item
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row.item_code}}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="claimed_serial">
          <mat-header-cell *matHeaderCellDef>
            Claimed Serial
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row.claimed_serial}}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="invoice_no">
          <mat-header-cell *matHeaderCellDef>
            Invoice No
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row.invoice_no}}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="service_charge">
          <mat-header-cell *matHeaderCellDef>
            Service Charge
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row.service_charge}}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="claim_status">
          <mat-header-cell *matHeaderCellDef>
            Claim Status
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row.claim_status}}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="warranty_status">
          <mat-header-cell *matHeaderCellDef>
            Warranty Status
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row.warranty_status}}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="receiving_branch">
          <mat-header-cell *matHeaderCellDef>
            Receiving Branch
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row.receiving_branch}}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="delivery_branch">
          <mat-header-cell *matHeaderCellDef>
            Delivery Branch
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row.delivery_branch}}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="received_by">
          <mat-header-cell *matHeaderCellDef>
            Received By
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row.received_by}}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>

        <ng-container matColumnDef="delivered_by">
          <mat-header-cell *matHeaderCellDef>
            Delivered by
          </mat-header-cell>
          <mat-cell *matCellDef="let row">
            {{row.delivered_by}}
          </mat-cell>
          <mat-footer-cell *matFooterCellDef></mat-footer-cell>
        </ng-container>
        <mat-header-row
          *matHeaderRowDef="displayedColumns; sticky: true"
        ></mat-header-row>

        <mat-row
          *matRowDef="let row; columns: displayedColumns;"
          [routerLink]="['/warranty/view-warranty-claims',row.uuid]"
        ></mat-row>
        <mat-footer-row
          class="footer"
          *matFooterRowDef="displayedColumns; sticky: true"
        ></mat-footer-row>
      </table>

      <mat-card-actions>
        <mat-paginator
          #paginator
          class="mat-paginator-sticky"
          (page)="getUpdate($event)"
          [length]="dataSource.length"
          [pageSizeOptions]="[10, 50, 100, 500]"
        >
        </mat-paginator>
      </mat-card-actions>
    </ion-card-content>
  </ion-card>
</ion-content>
