<ion-card>
  <ion-card-header>
    <ion-row>
      <ion-col class="ion-text-left">
        <ion-card-title>
          <ion-text color="tertiary">
            Stock Entry
          </ion-text>
        </ion-card-title>
      </ion-col>
    </ion-row>
  </ion-card-header>

  <ion-card-content class="ion-no-padding">
    <mat-table #table style="width: 100%;">
      <ng-container matColumnDef="stock_voucher_number">
        <mat-header-cell *matHeaderCellDef
          >Stock Voucher Number</mat-header-cell
        >
        <mat-cell *matCellDef="let row">
          <ng-container *ngIf="row.stock_voucher_number">
            {{ row.stock_voucher_number }}
          </ng-container>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="claim_no">
        <mat-header-cell *matHeaderCellDef>Claim No</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <ng-container>
            {{ row.claim_no }}
          </ng-container>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef>Type</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <ng-container>
            {{ row.type }}
          </ng-container>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef>Date</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <ng-container>
            {{ row.date }}
          </ng-container>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="description">
        <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
        <mat-cell *matCellDef="let row">
          <ng-container>
            {{ row.description }}
          </ng-container>
        </mat-cell>
        <mat-footer-cell *matFooterCellDef></mat-footer-cell>
      </ng-container>

      <ng-container matColumnDef="completed_by">
        <mat-header-cell *matHeaderCellDef>Completed By</mat-header-cell>
        <mat-cell *matCellDef="let row">
          {{ row.completed_by }}
        </mat-cell>
        <mat-footer-cell *matFooterCellDef> </mat-footer-cell>
      </ng-container>

      <mat-header-row
        *matHeaderRowDef="displayedColumns; sticky: true"
      ></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      <mat-footer-row
        class="footer"
        *matFooterRowDef="displayedColumns; sticky: true"
      ></mat-footer-row>
    </mat-table>
  </ion-card-content>
</ion-card>
