<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="navigateBack()">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
      Sales Invoice
    </ion-title>
    <ion-buttons slot="end" *ngIf="sales_invoice_name && status !== 'Canceled'">
      <ion-button (click)="showPrintOptions($event)" color="primary">
        <ion-icon slot="icon-only" name="print-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="page-background">
  <ion-card>
    <ion-card-header class="ion-no-padding">
      <ion-segment
        [(ngModel)]="selectedSegment"
        scrollable="true"
        class="disable-scrollbars"
      >
        <ion-segment-button value="0">
          <ion-label>Details</ion-label>
        </ion-segment-button>
        <ion-segment-button value="1" *ngIf="sales_invoice_name">
          <ion-label>Serials</ion-label>
        </ion-segment-button>
        <ion-segment-button value="2" *ngIf="sales_invoice_name">
          <ion-label>Accounts</ion-label>
        </ion-segment-button>
        <ion-segment-button
          value="3"
          disabled="{{isCampaign ? true : false }}"
          *ngIf="sales_invoice_name && showReturnTab"
        >
          <ion-label>Sales Return</ion-label>
        </ion-segment-button>
        <ion-segment-button value="4" *ngIf="sales_invoice_name">
          <ion-label>Warranty</ion-label>
        </ion-segment-button>
        <ion-segment-button
          value="5"
          disabled="{{isCampaign ? true : false }}"
          *ngIf="sales_invoice_name && showReturnTab"
        >
          <ion-label>Credit Notes</ion-label>
        </ion-segment-button>
      </ion-segment>
    </ion-card-header>
  </ion-card>

  <div [ngSwitch]="selectedSegment">
    <sales-invoice-details class="width" *ngSwitchCase="0">
    </sales-invoice-details>
    <sales-invoice-serials class="width" *ngSwitchCase="1">
    </sales-invoice-serials>
    <sales-invoice-accounts
      [sales_invoice]="sales_invoice_name"
      class="width"
      *ngSwitchCase="2"
    ></sales-invoice-accounts>
    <sales-invoice-return
      [sales_invoice]="sales_invoice_name"
      class="width"
      *ngSwitchCase="3"
    ></sales-invoice-return>
    <sales-invoice-warranty
      class="width"
      *ngSwitchCase="4"
    ></sales-invoice-warranty>
    <sales-invoice-credit-notes
      [sales_invoice]="sales_invoice_name"
      class="width"
      *ngSwitchCase="5"
    >
    </sales-invoice-credit-notes>
  </div>
</ion-content>
