.sc-ion-card-md-h {
  min-height: 90vh;
}

.full-width {
  width: 100%;
  color: black;
}

.search-models {
  padding: 0em 1em 0em 1em;
}

.footer {
  font-weight: bold;
}

.mat-column-total {
  display: flex;
  justify-content: flex-end;
}

.mat-column-due_amount {
  display: flex;
  padding-right: 20px;
  justify-content: flex-end;
}

.date-filter-text {
  font-size: 0.7rem;
}

.mat-column-sr_no {
  flex: 0 0 5%;
}
